# Porta usada para acessar o back-end
PORT=

# Conexão com o Banco de Dados
JWT_SECRET=
JWT_EXPIRES_IN=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# URL do Front-end
FRONTEND_URL=

# Conexão para fazer uso do servidor de e-mail (de sua referência) para permitir ao cliente recuperação de senha
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=
EMAIL_FROM_NAME=